.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;

}
    
.goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-top: 291px;
}
    
.baloon {
    margin-top: 25px;
    position: absolute;
    z-index: 3;
    right: 396px;
}
    
.speech {
    font-size: 25px;
    margin-top: 100px;
    position: absolute;
    z-index: 4;
    right: 430px;;
}
    
.bowser {
    width: 200px;
    margin-top: 200px;
    position: absolute;
    z-index: 5;
    right: 200px;
}